<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="container-fluid">
			<h2>New Project</h2>
			<%= simple_form_for @project do |f| %>
			<div class="row">
				<div class="col-sm-2 col-sm-offset-2">
					<%= f.input :position, collection: 1..@total_projects+1 %>
				</div>
				<div class="col-sm-6">
					<%= f.input :title %>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-8 col-sm-offset-2">
					<%= f.input :description %>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-8 col-sm-offset-2">
					<%= f.button :submit, class: "btn btn-default btn-block" %>
				</div>
			</div>
			<% end %>
				
		</div>
	</div>
</div>